@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f7f9f2;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 2.5em 3em;
}
.navbar svg {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#Library-nav {
  font-size: 32px;
  font-weight: bolder;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav-left {
  gap: 0.5em;
}

.nav-right {
  margin-left: auto;
  gap: 1em;
}
.nav-right div {
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.nav-right div:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2.3px;
  background-color: black;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.nav-right div:hover:after {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3em 0 calc(3.2em + 1px);
}

.hdr-text {
  font-size: 24px;
  font-weight: 501;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.new-book-btn {
  position: relative;
  top: -10px;
  font-size: 14.5px;
  font-weight: bold;
  padding: 0.6em 1em 0.6em 1em;
  background-color: #f7f9f2;
  border: 1.5px solid black;
  border-radius: 17px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.new-book-btn:hover {
  transform: scale(1.1);
}
.new-book-btn:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in;
}

dialog {
  margin: auto;
  height: 420px;
  width: 310px;
  background-color: #f7f9f2;
  border-radius: 16px;
  border: 2.5px solid black;
  padding: 2em;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
dialog p {
  font-size: 21px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
form label {
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#form-btn {
  display: flex;
  gap: 3em;
}
#form-btn button {
  background-color: #f7f9f2;
  padding: 0.6em 1.5em;
  border: 2px solid black;
  border-radius: 17px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}
#form-btn button:hover {
  transform: scale(1.08);
  transition: transform 0.1s ease-in;
}
#form-btn button:active {
  transform: scale(0.88);
  transition: transform 0.1s ease-in;
}

input[type=checkbox] {
  margin-left: 1em;
  cursor: pointer;
}

#book-title,
#book-author,
#book-pages {
  background-color: #f7f9f2;
  border-radius: 8px;
  border: 2px solid black;
  width: calc(100% - 1em);
  height: 27px;
  padding: 5px;
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  padding: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 300px;
  padding: 1em;
  border-radius: 14.5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.card .title {
  text-align: center;
  font-size: 18px;
  font-weight: 501;
  position: relative;
  overflow: hidden;
  padding-bottom: 0.5em;
  margin-bottom: 1.1em;
}
.card .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  border-bottom: 1.5px solid black;
}

.card-middle-row {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.author,
.pages,
.status {
  font-weight: 501;
}

#author-name,
#page-num,
#status-rn {
  font-weight: normal;
}

.card-last-rw {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.status-change-btn {
  background-color: #f7f9f2;
  border: 1.6px solid black;
  font-weight: bold;
  padding: 0.5em 0.8em;
  cursor: pointer;
  border-radius: 14px;
}
.status-change-btn:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in;
}
.status-change-btn:active {
  transform: scale(0.88);
  transition: transform 0.1s ease-in;
}

.remove-card svg {
  height: 23px;
  width: 23px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 2px;
}
.remove-card svg:hover {
  transform: scale(1.25);
  transition: transform 0.1s ease-in;
  border-radius: 50%;
  background-color: hsl(0, 0%, 88%);
}
.remove-card svg:active {
  transform: scale(0.88);
  transition: transform 0.1s ease-in;
}